*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title{
  position: absolute;
  top: 10px;
  z-index: 2;
  font-family: "Tangerine", cursive;
  font-size: 100px;
  color: #69a2fb;
  font-weight: bold;
}

.bg-image{
  position: absolute;
  height: 500px;
  width: 500px;
  background-image: url("../background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 150px;
}

.chat-window {
  z-index: 1;
  width: 700px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-height: 700px;
  margin-top: 150px;
  opacity: 0.8;
  overflow-y: auto;
}

.chat-history {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  font-size: 14px;
}

.chat-message {
  margin-bottom: 10px;
}

.message-sender {
  font-weight: bold;
}

.message-text {
  margin-top: 5px;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #69a2fb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer{
  display: flex;
  position: absolute;
  font-size: 12px;
  gap: 20px;
  bottom: 20px;
}

.chat-input button:hover {
  background-color: #45a049;
}
